<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Selenium.Support" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="4.0.0-alpha05" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="81.0.4044.6900" targetFramework="net472" />
  <package id="Selenium.WebDriverBackedSelenium" version="4.0.0-alpha05" targetFramework="net472" />
</packages>